.Notifications {
  border: 2px dashed red;
  padding: 0.5rem;
}

.Notifications ul {
  margin: 0.7rem 3rem;
}

.Notifications ul li[data-priority='default'] {
  color: blue;
}

.Notifications ul li[data-priority='urgent'] {
  color: red;
}
